version: '3.8'

services:
  duty-app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - TZ=Europe/Moscow
    restart: unless-stopped
